*{
    box-sizing: border-box;
}
h2{
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
}
.row{
    width: 100%;
    margin: 10px;
}
p{
    text-align: center;
    padding: 20px;
    position: absolute;
}
.qwe{
    border: 1px solid black;
    background-color: gray; 
    margin: 10px;
    height: 300px;
    position: relative;
    padding: 10px;

    
}
.one{
    background-color: hotpink;
    position: absolute;
    text-align: center;
    margin-top: 0px;
    border: 1px solid black;
    right: 0px;
    top: 0px;
    width: 120px;
    height: 30px;
}
.two{
    background-color: rgb(16, 189, 180);
    position: absolute;
    text-align: center;
    margin-top: 0px;
    border: 1px solid black;
    right: 0px;
    top: 0px;
    width: 120px;
    height: 30px;
}
.three{
    background-color:rgb(17, 218, 117);
    position: absolute;
    text-align: center;
    margin-top: 0px;
    border: 1px solid black;
    right: 0px;
    top: 0px;
    width: 120px;
    height: 30px;
}

/** desktop **/
@media (min-width: 992px){
     .col-lg-4{
        width: 33% ;
        float: left;
    }
}

/** tablet **/
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6{
        width: 50%;
        float: left;
       
    }
    .col-md-12{
        width: 100%;
        float: left;
       
    }
}

/** mobile **/
@media (max-width: 767px){
    .col-sm-12{
        width: 100%;
        float: left;
       
    }
}